#grid {
	width: 420px;
	height: 420px;
	position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
	border: 3px solid black;
	border-collapse: collapse;
}

.box_td {
	width: 140px;
	height: 140px;
	border: 3px solid black;
}

.box {
	width: 140px;
	height: 140px;
	border-collapse: collapse;
}

.square {
	border: 1px solid black;
	text-align: center;
}

#solve {
	position: absolute;
	margin-top: 100px;
	margin-left: 50px;
}

#set {
	position: absolute;
	margin-top: 120px;
	margin-left: 50px;
}

#reset {
	position: absolute;
	margin-top: 140px;
	margin-left: 50px;
}





