#inner_wrapper {
  position: absolute;
  top: 300px;
}

#my_picture_wrapper {
  position: absolute;
  top: 50px;
}

#my_picture {
  border-radius: 50%;
}

#karfarm.hover {
  text-decoration: underline;
}

#links {
  position: relative;
  top: 40px;
  text-align: center;
}

.project {
  position: relative;
  height: 400px;
  width: 100%
}

.project_headers {
  position: absolute;
  height: 25%;
  width: 100%;
}

.project_content_wrap {
  position: absolute;
  top: 25%;
  height: 75%;
  width: 100%;
}

.project_techs {
  position: absolute;
  width: 50%;
  height: 100%;
}

.project_image {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 50%;
}
.kf_im {
  display: inline;
}

#karfarm {
  margin-left: 10px;
}
